* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: aliceblue;
    background-color: #7dd59b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23564915' fill-opacity='0.7'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    
}

/*Navegation*/
.nav-main{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    margin-top: 20px;


}

.nav-brand{
    width: 50px;
}

/* Nav left*/
.nav-main ul {
    display:flex;
}

.nav-main ul il {
    padding: 10px;
}

.nav-main ul li {
    padding: 5px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid bisque;
}

.nav-main ul.nav-menu {
    flex: 5;
    margin-left: 20px;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 30px;
    display: none;
    z-index: 2;
    font-size: 1.5px;
}

/* SHOCASE */
hr {
    margin: 10px 0;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('./Img/Brain\ picture.jpg') no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: crimson;
    border: 20px;
    margin: 20px;
    margin-right: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px;
} 

.btn:hover {
    opacity: .9;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* NEWS CARDS */
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.news-cards img {
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news-cards a {
    padding: 10px 0;
    color: darkgoldenrod;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/* CARS BANNER ONE*/
.cards-banner-one {
    width: 100%;
    height: 450px;
    background: url('./img/Imagen\ para\ segundo\ fondo.png');
    margin-bottom: 40px;
}

.cards-banner-one .content {
    color: #262626;
    padding: 90px 0 0 30px;
    font-size: 25px;
    font-weight: bold;
}

.cards-banner-one .btn {
    margin-left: 47%;
    margin-top: 10%;
}

.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

/* CARS BANNERS TWO */
.cards-banner-two {
    width: 100%;
    height: 450px;
    background: url('./img/Imagen\ uso\ 3.jpg');
    margin-bottom: 40px;
}

/* SOCIAL */
.social {
    margin: 50px;
}

.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/* FOOTER LINKS */
.footer-links {
    background: #262626;
    color: dimgrey;   
    font-size: 12px;
    padding: 30px 0;
}

.footer-container  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2.8;
}

.footer {
    background: #262626;
    color:black;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-btn {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #262626;
        height: 100%;
        padding: 30px;
        opacity: .9; 
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
        border-bottom: white solid 1px;
        font-size: 14px;
    }



    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }

    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-banner-one .content,
    .cards-banner-two .content
    {
        width: 80%;
    }
    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 300px;
    }
}